/* stint-ultra-expanded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/stint-ultra-expanded-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pontano-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pontano-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pontano-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/pontano-sans-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
   font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.3em;
   font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;;
}

p {
	font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 500;
}

header {
background-color: #FFC7E0;
background-image: url("images/meteor.svg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 150px;
width: 100%;
  color: white;
  text-align: center;
  padding: 2em;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}

.job-listing {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1.5em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #FDEDED;
  margin-bottom: 2em;
}

/* logos */
.job-listing img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-listing:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.job-details p {
  margin: 0.5em 0;
  font-size: 1em;
}

/* Links */
.job-details a {
  color: #C8468B;
  text-decoration: none;
  font-weight: bold;
}

.job-details a:hover {
  text-decoration: underline;
}

