h1, h2, h3 {
	 font-family: "Lustria", serif;
	color: rgb(255, 242, 224);
	border-bottom: 2px solid rgb(255, 242, 224);
	padding-top: 10px;
	padding-bottom: 5px;
	  margin: 10px 30px;
}
p, ul, ol {
	 font-family: "Lato", Arial, sans-serif;
	font-size: 1em;
	color: rgb(87, 73, 100);
	  margin: 10px 30px;
}
body {
	background-color: rgb(162, 170, 219); 
	 width: 80%;
  padding: 20px;
  margin: 0 auto;
}
html {
	padding-top: 25px; 
	background-image: url("https://i.pinimg.com/1200x/f6/e1/57/f6e157ad9706f893754d63a2a6cfc639.jpg");
	background-color: rgb(255, 242, 224);
}
