h1, h2, h3 {
	 font-family: "Lustria", serif;
	color: rgb(241, 239, 236);
	border-bottom: 2px solid rgb(192, 201, 238);
	padding-top: 10px;
	padding-bottom: 5px;
	  margin: 10px 30px;
}
p, ul, ol {
	 font-family: "Lato", Arial, sans-serif;
	font-size: 1em;
	color: rgb(241, 239, 236);
	  margin: 10px 30px;
}
body {
	background-color: rgb(212, 201, 190); 
	 width: 80%;
  padding: 20px;
  margin: 0 auto;
}
html {
	padding-top: 25px; 
	background-color:rgb(255, 242, 224);
}
