 /* unica-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/unica-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* crimson-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/crimson-text-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

 body {
  text-align: center;
  background-image: url("images/hexagon.svg");
}

p {
  line-height: 1.6;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

h1, h2 {
   font-family: 'Unica One';
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
}

.text {                           /*for upper paragraph*/
  background-color: #FFF8DE;
  color: #D34E4E;
  border-radius: 10px;
  border: 2px solid;
  padding: 10px;
  width: 60%; 
  margin: 0 auto; 
}

 .gallery {
  display: grid;
  border-radius: 5px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.movie {
  background-color: #FFF8DE;
  color: #D34E4E;
  border-radius: 10px;
  border: 2px solid;
  padding: 10px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.movie:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

.movie img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}
