/* yeseva-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/yeseva-one-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/josefin-sans-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/josefin-sans-v34-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/josefin-sans-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    margin: 20px;
    background-color: #e6f2ff;
    background-color: #e6f2ff;
    background-image: 
    linear-gradient(45deg, #cce6ff 25%, transparent 25%), 
    linear-gradient(-45deg, #cce6ff 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #cce6ff 75%), 
    linear-gradient(-45deg, transparent 75%, #cce6ff 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

h1 {
    text-align: center;
    color: black;
  font-family: 'Yeseva One';
font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
  text-shadow: 1px 1px 2px white;
border: 4px solid white;       
 display: block;         
 padding: 10px 25px;
border-radius: 10px;
background-color: white; 
 margin: 20px auto;
}

h3 {
    color: #BF1A1A;
 font-family: 'Josefin Sans';
  font-weight: 600;
  margin-top: 0;
  font-size: 1.95em;    
}

p {
    text-align: center;
    max-width: 700px;
    margin: auto;
    font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em; 
}

.team {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.member {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
    text-align: center;
}

.member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

 /*bounce animation*/
 @keyframes pop {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1.07); }
}


.member:hover {
    animation: pop 0.4s ease;
    transform: scale(1.10);
   box-shadow: 0px 8px 18px rgba(0,0,0,0.3);
   border: 6px solid #FFCF71;
}
